---
import Item from '~/components/blog/ListItem.astro';
import type { BlogPost } from '~/types';

export interface Props {
  posts: Array<BlogPost & {
    image?: string | ImageMetadata;
    permalink?: string;
    excerpt?: string;
  }>;
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post: BlogPost & {
      image?: string | ImageMetadata;
      permalink?: string;
      excerpt?: string;
    }, index: number) => (
      <li key={post.data.id} class="mb-12 md:mb-20">
        <Item post={post} />
      </li>
    ))
  }
</ul>
